@charset "UTF-8";

#collmenu :visited { color: blueviolet }

.collection {
    font-family: 'Lalezar', 'Noto Sans KR';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%
}

table {
    width: 100%;
    font-weight: 100;
    letter-spacing: 4px;
    text-align: left;
    border: solid 1px rgb(107, 5, 82);
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(243, 172, 184)
}

table thead {
    font-size: 25pt;
    font-weight: lighter;
    letter-spacing: 5px;
}


th {
    color: palevioletred;
    padding: 0px 20px;
}

td{
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 15pt;
    border: solid 1px rgb(107, 5, 82);
    border-left: none;
    border-right: none;
    border-bottom: none;
    
}

button {
    width: 60pt;
    height: 35px;

    font-family: 'Noto Sans KR', sans-serif;
    background-color: palevioletred;
    color: black;
    margin: 20px 0px;
    border-radius: 30px;
    font-size: 13pt;
}
button:hover {
    background-color: rgb(243, 172, 184);
    box-shadow: 0px 0px 15px rgb(243, 172, 184);
}

@media (max-width: 720px) {
}