@charset "UTF-8";

body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: black;
    color: white;
}


.header-top {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-top a:link, .header-top a:visited { 
    text-decoration: none; 
    font-size: 14pt;
    color:whitesmoke
}
.header-top a:hover { color: slateblue}
#logo {
    font-family: 'Lalezar', cursive;
    font-size: 45pt;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 2px;
    color:mediumslateblue;
    padding: 10px 30px 0px;
}
#navi { padding-right: 25px; }
#navi li { 
    list-style-type: none;
    float: left;
    padding-right: 25px;
}


.header-bottom {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#menu li{
    list-style-type: none;
    float: left; 
}
#menu a:link, #menu a:visited {
    text-decoration: none;
    color: blueviolet;
    font-size: 16pt;
    padding-right: 50px;
}
#menu a:hover { color : whitesmoke }
input {
    width: 300px;
    height: 35px;
    border-radius: 15px;
    background-color: blueviolet;
    color: white;
    font-size: 17px;
    padding-left: 20px;
    margin: 10px 40px 10px 15px;
}
input::placeholder {
    color: rebeccapurple;
    font-family: 'Noto Sans KR', sans-serif;
}


.home {
    font-size: 20px;
}
h2 {
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    font-weight:200;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding-left: 40px;
}
#h2-boxoffice { color: white }
#h2-netflix { color: red }
#h2-disneyPlus { color: dodgerblue }

img { max-width: 200px;}

.boxoffice, .netflix, .disneyPlus {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.movie {  list-style-type: none; }

::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}


@media (max-width: 720px) {
    .header-top, .header-bottom{
        display: block;
    }
    #menu {
        float: left;
    }
    #menu a:link, #menu a:visited {
        padding-left:0px;
        padding-right: 10px;
    }
}
