@charset "UTF-8";

#homemenu :visited { color: blueviolet }

.home {
    font-size: 20px;
}
h2 {
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    font-weight:200;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding-left: 40px;
}
#h2-boxoffice { color: white }
#h2-netflix { color: red }
#h2-disneyPlus { color: dodgerblue }

img { max-width: 200px;}

.boxoffice, .netflix, .disneyPlus {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0px 40px;
}

.movie {
    margin-right: 25px;
}

::-webkit-scrollbar {
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}


