@charset "UTF-8";

.make-collection {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 650px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(6, minmax(50px, auto));
    grid-template-areas: 
        "titlehead      titlebox"
        "movieshead1     box1"
        "movieshead2     box2"
        "movieshead3     box3"
        "summaryhead    summarybox"
        ".              submitBtn";
    
    font-size: 15pt;
    gap: 10pt;
}

.titlehead {
    grid-area: titlehead;
}

.titlebox { 
    grid-area: titlebox;
    font-family: 'Lalezar', 'Noto Sans KR';
    font-size: 15pt;
    background-color: rgb(241, 223, 237);
}

.movieshead1 {
    grid-area: movieshead1;
}
.movieshead2 {
    grid-area: movieshead2;
}
.movieshead3 {
    grid-area: movieshead3;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}

.moviebox { 
    font-family: 'Lalezar', 'Noto Sans KR';
    font-size: 15pt;
    background-color: rgb(241, 223, 237);
}

.summaryhead {
    grid-area: summaryhead;
}
.summarybox { 
    grid-area: summarybox;
    font-family: 'Lalezar', 'Noto Sans KR';
    font-size: 15pt;
    background-color: rgb(241, 223, 237);
}

.submitBtn { 
    grid-area: submitBtn;
    align-self: start;
    justify-self: end;
}

button {
    width: 60pt;
    height: 35px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: palevioletred;
    color: black;
    margin: 20px 0px;
    border-radius: 30px;
    font-size: 13pt;
}
button:hover {
    background-color: rgb(243, 172, 184);
    box-shadow: 0px 0px 15px rgb(243, 172, 184);
}

@media (max-width: 720px) {
}