@charset "UTF-8";

#upcomingmenu :visited { color: blueviolet }

.container {
    font-family: 'Lalezar', 'Noto Sans KR';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px auto;
    gap: 10px 10px;
    grid-template-areas: 
        "menuname   menuname   .  .   .  sort"
        "menu  movie  movie  movie movie  movie"
}

.menuname {
    grid-area: menuname;
    font-size: 30pt;
    color: rgb(157, 150, 250)
}

.menu {
    grid-area: menu;
    font-size: 20pt;
}

.sort {
    grid-area: sort;
}

.upcomings {
    grid-area: movie;
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 20%;
    margin-bottom: 20px;
    color:bisque;
    letter-spacing: 1pt;
}
.movie a:link, .movie a:visited { 
    text-decoration: none; 
    color:dimgrey
}

.img-wrapper {
    position: relative;
    width: 90%;
    height : 285px;
}
.img-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.img-wrapper img:hover {
    box-shadow: 1px 1px 5px gray;
}

.date {
    font-size: 17pt;
}

select {
    height: 30px;
    
}

@media (max-width: 720px) {
}